{% extends 'App/base.html' %}

{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'gestione_home' %}">
      <img src="{% static 'img/aereo.png' %}" alt="" width="60" height="60" class="d-inline-block align-text-center">
      Starvato
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {{active_v}}" href="{% url 'gestione_voli' %}">Voli</a>
        <a class="nav-link {{active_p}}" href="{% url 'gestione_prenotazioni' %}">Prenotazioni</a>
        <a class="nav-link {{active_a}}" href="{% url 'gestione_aeroporti' %}">Aeroporti</a>
        <a class="btn btn-success" aria-current="page" href="{% url agg %}">Aggiungi</a>
      </div>
    </div>
  </div>
</nav>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-group mt-3 w-25">
        <button type="submit" class="input-group-text btn btn-primary"><i class="bi bi-search"></i></button>
        <input type="text" class="form-control" placeholder="Cerca" required>
    </div>
</form>

<table class="table mt-5">
  {% if obj == 'voli' %}
  <thead>
    <th>Codice</th>
    <th>Aeroporto di partenza</th>
    <th>Aeroporto di arrivo</th>
    <th>Prezzo unitario</th>
    <th>Ora di partenza</th>
    <th>Ora d'arrivo</th>
    <th>Data di partenza</th>
    <th>Data d'arrivo</th>
    <th>Km</th>
    <th>targa aereo</th>
  </thead>
  <tbody>
    {% for i in voli %}
    <tr>
      <td>{{i.codice}}</td>
      <td>{{i.aeroporto_di_partenza}}</td>
      <td>{{i.aeroporto_di_arrivo}}</td>
      <td>{{i.prezzo_unitario}} €</td>
      <td>{{i.ora_di_partenza}}</td>
      <td>{{i.ora_di_arrivo}}</td>
      <td>{{i.data_di_partenza}}</td>
      <td>{{i.data_di_arrivo}}</td>
      <td>{{i.km}}</td>
      <td>{{i.aereo.targa}}</td>
      <td class="row">
        <a href="{% url 'elimina_volo' i.id %}" class="btn btn-danger">Elimina</a>
        <a href="{% url 'modifica_volo' i.id %}" class="btn btn-success">Modifica</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% elif obj == 'pren' %}
  <thead>
    <th>Codice</th>
    <th>Nome dell'utente</th>
    <th>Cognome dell'utente</th>
    <th>email dell'utente</th>
    <th>Telefono dell'utente</th>
    <th>Codice volo</th>
    <th>Posti prenotati</th>
  </thead>
  <tbody>
    {% for i in pren %}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.utente.nome}}</td>
      <td>{{i.utente.cognome}}</td>
      <td>{{i.utente.email}}</td>
      <td>{{i.utente.telefono}}</td>
      <td>{{i.volo.codice}}</td>
      <td>{{i.posti_prenotati}}</td>
      <td class="row">
        <a href="{% url 'elimina_prenotazione' i.id %}" class="btn btn-danger">Elimina</a>
        <a href="{% url 'modifica_prenotazione' i.id %}" class="btn btn-success">Modifica</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% elif obj == 'Aeroporti' %}
  <thead>
    <th>Codice</th>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Via</th>
    <th>Numero civico</th>
    <th>Stato</th>
    <th>Citta</th>
    <th>Provincia</th>
  </thead>
  <tbody>
    {% for i in aeroporti %}
    <tr>
      <td>{{i.codice}}</td>
      <td>{{i.nome}}</td>
      <td>{{i.descrizione}}</td>
      <td>{{i.indirizzo.via}}</td>
      <td>{{i.indirizzo.numero}}</td>
      <td>{{i.indirizzo.stato}}</td>
      <td>{{i.indirizzo.citta}}</td>
      <td>{{i.indirizzo.provincia}}</td>
      <td class="row">
        <a href="{% url 'elimina_aeroporto' i.id %}" class="btn btn-danger">Elimina</a>
        <a href="{% url 'modifica_aeroporto' i.id %}" class="btn btn-success">Modifica</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

{% endblock %}