{% extends 'App/base.html' %}

{% block content %}
{% load static %}

  <nav class="navbar navbar-expand navbar-light bg-light rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'gestione_home' %}">
        <img src="{% static 'img/aereo.png' %}" alt="" width="60" height="60" class="d-inline-block align-text-center">
        Starvato
      </a>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-link {{active_v}}" href="{% url 'gestione_voli' %}">Voli</a>
          <a class="nav-link {{active_p}}" href="{% url 'gestione_prenotazioni' %}">Prenotazioni</a>
          <a class="nav-link {{active_a}}" href="{% url 'gestione_aeroporti' %}">Aeroporti</a>
          <a class="nav-link {{active_ae}}" href="{% url 'gestione_aerei' %}">Aerei</a>
        </div>
      </div>
    </div>
  </nav>

  <form action="{% url cerca %}" method="post">
    {% csrf_token %}
    <div class="row mt-3">
      <div class="input-group  w-25 col-4">
        <button type="submit" class="input-group-text btn btn-primary"><i class="bi bi-search"></i></button>
        <input type="text" name="cerca" class="form-control" placeholder="Cerca">
      </div>
      <div class="col">
        <a class="btn btn-success" type="button" aria-current="page" href="{% url agg %}">Aggiungi</a>
      </div>
    </div>
  </form>


  <div class="bg-dark p-3 mt-5 rounded bg-opacity-75">
    <table class="table text-light">
      <thead id="thead">
      </thead>

      <tbody id="tbody">

        <div id="modal">
        </div>

      </tbody>
    </table>
  </div>

</div>


{% endblock %}