{% extends 'App/base.html' %}

{% block content %}

    <div class="text-center container w-50" style="margin-top: 10%;">
        <dir class="row border-dark border-1">
            <a href="{% url 'gestione_voli' %}" class="border btn btn-lg" style="background-image: linear-gradient(to right, green , white, red);">Voli</a>
            <a href="{% url 'gestione_prenotazioni' %}" class="border btn btn-lg" style="background-image: linear-gradient(to right, green , white, red);">Prenotazioni</a>
            <a href="{% url 'gestione_aeroporti' %}" class="border btn btn-lg" style="background-image: linear-gradient(to right, green , white, red);">Aeroporti</a>
            <a href="{% url 'gestione_aerei' %}" class="border btn btn-lg" style="background-image: linear-gradient(to right, green , white, red);">Aerei</a>
        </dir>
    </div>

{% endblock %}