{% extends 'App/base.html' %}

{% block content %}
{% load static %}
<nav class="navbar navbar-expand navbar-light bg-light rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'gestione_home' %}">
      <img src="{% static 'img/aereo.png' %}" alt="" width="60" height="60" class="d-inline-block align-text-center">
      Starvato
    </a>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-link {{active_v}}" href="{% url 'gestione_voli' %}">Voli</a>
        <a class="nav-link {{active_p}}" href="{% url 'gestione_prenotazioni' %}">Prenotazioni</a>
        <a class="nav-link {{active_a}}" href="{% url 'gestione_aeroporti' %}">Aeroporti</a>
        <a class="nav-link {{active_ae}}" href="{% url 'gestione_aerei' %}">Aerei</a>
      </div>
    </div>
  </div>
</nav>

<form action="{% url cerca %}" method="post">
  {% csrf_token %}
  <div class="row mt-3">
    <div class="input-group  w-25 col-4">
      <button type="submit" class="input-group-text btn btn-primary"><i class="bi bi-search"></i></button>
      <input type="text" name="cerca" class="form-control" placeholder="Cerca">
    </div>
    <div class="col">
      <a class="btn btn-success" type="button" aria-current="page" href="{% url agg %}">Aggiungi</a>
    </div>
  </div>
</form>


<div class="bg-dark p-3 mt-5 rounded bg-opacity-75">
  <table class="table text-light">
    {% if obj == 'voli' %}
    <thead id="thead">
      <th>Codice</th>
      <th>Partenza</th>
      <th>Arrivo</th>
      <th>Prezzo 1° classe</th>
      <th>Prezzo 2° classe</th>
      <th>Prezzo 3° classe</th>
      <th>Posti totali</th>
      <th>Ora di partenza</th>
      <th>Ora d'arrivo</th>
      <th>Data di partenza</th>
      <th>Data d'arrivo</th>
      <th>Km</th>
      <th>Targa aereo</th>
    </thead>
    <tbody id="tbody">
      {% for i in voli %}
      <tr>
        <td>{{i.codice}}</td>
        <td>{{i.aeroporto_di_partenza}}</td>
        <td>{{i.aeroporto_di_arrivo}}</td>
        <td>{{i.prezzo_unitario_prima_classe}} €</td>
        <td>{{i.prezzo_unitario_seconda_classe}} €</td>
        <td>{{i.prezzo_unitario_terza_classe}} €</td>
        <td>{{i.posti_totali}}</td>
        <td>{{i.ora_di_partenza}}</td>
        <td>{{i.ora_di_arrivo}}</td>
        <td>{{i.data_di_partenza}}</td>
        <td>{{i.data_di_arrivo}}</td>
        <td>{{i.km}}</td>
        <td>{{i.aereo.targa}}</td>
        <td class="row">
          <a href="{% url 'modifica_volo' i.id %}" class="btn btn-success col">Modifica</a>
          <button class="btn btn-danger col" data-bs-toggle="modal" data-bs-target="#{{i.codice}}">Elimina</button>
        </td>
      </tr>
      
      <div id="modal">
        <div class="modal fade" id="{{i.codice}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3 class="text-dark">Sei sicuro di voler eliminare il volo {{i.codice}}?</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <a href="{% url 'elimina_volo' i.id %}" type="button" class="btn btn-danger">Elimina</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
    {% elif obj == 'pren' %}
    <thead>
      <th>Codice</th>
      <th>Nome utente</th>
      <th>Cognome utente</th>
      <th>email utente</th>
      <th>Telefono utente</th>
      <th>Codice volo</th>
      <th>Posti prenotati</th>
      <th>Prezzo totale</th>
    </thead>
    <tbody>
      {% for i in pren %}
      <tr>
        <td>{{i.codice}}</td>
        <td>{{i.utente.nome}}</td>
        <td>{{i.utente.cognome}}</td>
        <td>{{i.utente.email}}</td>
        <td>{{i.utente.telefono}}</td>
        <td>{{i.volo.codice}}</td>
        <td>{{i.posti_prenotati}}</td>
        <td>{{i.prezzo_totale}}</td>
        <td class="row">
          <a href="{% url 'modifica_prenotazione' i.id %}" class="btn btn-success col">Modifica</a>
          <button class="btn btn-danger col" data-bs-toggle="modal" data-bs-target="#{{i.codice}}">Elimina</button>
        </td>
      </tr>
  
      <div class="modal fade" id="{{i.codice}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3 class="text-dark">Sei sicuro di voler eliminare la prenotazione {{i.codice}}?</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <a href="{% url 'elimina_prenotazione' i.id %}" type="button" class="btn btn-danger">Elimina</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
    {% elif obj == 'aeroporti' %}
    <thead>
      <th>Codice</th>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Via</th>
      <th>Numero civico</th>
      <th>Stato</th>
      <th>Citta</th>
      <th>Provincia</th>
    </thead>
    <tbody>
      {% for i in aeroporti %}
      <tr>
        <td>{{i.codice}}</td>
        <td>{{i.nome}}</td>
        <td>{{i.descrizione}}</td>
        <td>{{i.indirizzo.via}}</td>
        <td>{{i.indirizzo.numero}}</td>
        <td>{{i.indirizzo.stato}}</td>
        <td>{{i.indirizzo.citta}}</td>
        <td>{{i.indirizzo.provincia}}</td>
        <td class="row">
          <a href="{% url 'modifica_aeroporto' i.id %}" class="btn btn-success col">Modifica</a>
          <button class="btn btn-danger col" data-bs-toggle="modal" data-bs-target="#{{i.codice}}">Elimina</button>
        </td>
      </tr>
  
      <div class="modal fade" id="{{i.codice}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3 class="text-dark">Sei sicuro di voler eliminare l'aeroporto {{i.nome}}?</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <a href="{% url 'elimina_aeroporto' i.id %}" type="button" class="btn btn-danger">Elimina</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
    {% elif obj == 'aerei' %}
    <thead>
      <th>Targa</th>
      <th>Modello</th>
      <th>Stato</th>
      <th>Km totali</th>
      <th>Km ultima manutenzione</th>
      <th>Data ultima manutenzione</th>
      <th>Posti 1° classe</th>
      <th>Posti 2° classe</th>
      <th>Posti 3° classe</th>
    </thead>
    <tbody>
      {% for i in aerei %}
      <tr>
        <td>{{i.targa}}</td>
        <td>{{i.modello}}</td>
        <td>{{i.stato}}</td>
        <td>{{i.km_totali}}</td>
        <td>{{i.km_da_ultima_manutenzione}}</td>
        <td>{{i.data_ultima_manutenzione}}</td>
        <td>{{i.posti_prima_classe}}</td>
        <td>{{i.posti_seconda_classe}}</td>
        <td>{{i.posti_terza_classe}}</td>
        <td class="row">
          <a href="{% url 'modifica_aereo' i.id %}" class="btn btn-success col">Modifica</a>
          <button class="btn btn-danger col" data-bs-toggle="modal" data-bs-target="#{{i.targa}}">Elimina</button>
        </td>
      </tr>
  
      <div class="modal fade" id="{{i.targa}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3 class="text-dark">Sei sicuro di voler eliminare l'aereo {{i.targa}}?</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <a href="{% url 'elimina_aereo' i.id %}" type="button" class="btn btn-danger">Elimina</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>





{% endblock %}