{% extends 'App/pagine_utente/prenota/nav_bar.html' %}

{% block contenuto %}

<div class="mt-5">
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="scelta" id="solo-andata" value="solo-andata" onclick="radio_btn(this.id)" checked>
      <label class="form-check-label"> Solo andata </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="scelta" id="andata-ritorno" value="andata-ritorno" onclick="radio_btn(this.id)">
      <label class="form-check-label"> Andata e ritorno </label>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col">
      <label for="" class="form-label">Partenza</label>
      {{form_volo.aeroporto_di_partenza}}
    </div>
    <div class="col">
      <label for="" class="form-label">Arrivo</label>
      {{form_volo.aeroporto_di_arrivo}}
    </div>
    <div class="col">
      <label for="" class="form-label">Data di partenza</label>
      <input type="date" name="data_di_partenza" class="form-control" id="data_andata">
    </div>
    <div class="col d-none" id="div-data-ritorno">
      <label for="" class="form-label">Data di ritorno</label>
      <input type="date" name="data_di_ritorno" class="form-control" id="data_ritorno">
    </div>
    <div class="col">
      <label name="n_posti" class="form-label">Numero di posti</label>
      <div class="input-group ">
        <button type="button" class="btn btn-danger" onclick="Diminuisci()"><i class="bi bi-dash-lg"></i></i></button>
        <input type="number" value="1" name="n_posti" class="form-control text-center" id="n_posti">
        <button type="button" class="btn btn-success" onclick="Aumenta()"><i class="bi bi-plus-lg"></i></i></button>
      </div>
    </div>
    <div class="col position-relative">
      <button class="btn btn-lg btn-success position-absolute bottom-0" type="button" onclick="Voli()"><i
          class="bi bi-search"></i></button>
    </div>
  </div>
</div>

<div class="d-none mt-5" id="div_voli">
  <form action="{% url 'scelta_posti' %}" method="post" class="row">
    {% csrf_token %}
    <button type="submit" class="btn btn-success mt-3 w-100" id="avanti">Avanti</button>
    <div class="col" id="voli_andata">
    </div>
    <div class="col d-none" id="voli_ritorno">
    </div>
  </form>
</div>

{% endblock %}