{% extends 'App/pagine_utente/prenota/nav_bar.html' %}

{% block contenuto %}

<div class="mt-5">
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <label for="" class="form-label">Andata</label>
        {{form_volo.aeroporto_di_partenza}}
      </div>
      <div class="col">
        <label for="" class="form-label">Ritorno</label>
        {{form_volo.aeroporto_di_arrivo}}
      </div>
      <div class="col">
        <label for="" class="form-label">Data di andata</label>
        <input type="date" name="data_di_partenza" class="form-control">
      </div>
      <div class="col">
        <label for="" class="form-label">Data di ritorno</label>
        <input type="date" name="data_di_arrivo" class="form-control">
      </div>
      <div class="col">
        <label for="" class="form-label">Classe</label>
        <select class="form-select" name="classe" required>
          <option value="prima" selected>Prima</option>
          <option value="seconda">Seconda</option>
          <option value="terza">Terza</option>
        </select>
      </div>
      <div class="col">
        <label name="n_posti" class="form-label">Numero di posti</label>
        <div class="input-group ">
          <button type="button" class="btn btn-danger" onclick="Diminuisci()"><i class="bi bi-dash-lg"></i></i></button>
          <input type="number" value="0" name="n_posti" class="form-control text-center" id="n_posti">
          <button type="button" class="btn btn-success" onclick="Aumenta()"><i class="bi bi-plus-lg"></i></i></button>
        </div>
      </div>
        <div class="col position-relative">
          <button class="btn btn-lg btn-success position-absolute bottom-0" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>
  </form>
</div>

<div class="row">
  {% for v in voli %}
  <div class="card mt-5 text-dark">
    <div class="card-body">
      <h5 class="card-subtitle mb-3">{{v.aeroporto_di_partenza}} --> {{v.aeroporto_di_arrivo}}</h5>
      <h5 class="card-subtitle mb-3">{{v.data_di_partenza}} --> {{v.data_di_arrivo}}</h5>
      <h5 class="card-subtitle mb-3">{{v.ora_di_partenza}} --> {{v.ora_di_arrivo}}</h5>
      <h6 class="card-subtitle mb-3">Prima classe: {{v.prezzo_unitario_prima_classe}} €</h6>
      <h6 class="card-subtitle mb-3">Seconda classe: {{v.prezzo_unitario_seconda_classe}} €</h6>
      <h6 class="card-subtitle mb-3">Terza classe: {{v.prezzo_unitario_terza_classe}} €</h6>
      <a href="{% url 'scelta_posti' v.id %}" class="btn btn-success">Acquista</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}