{% extends 'App/pagine_utente/prenota/nav_bar.html' %}

{% block contenuto %}
    
    <div class="mt-5 text-center">
        <div class="card">
            <h2 class="card-header"> Prenotazione </h2>
            <div class="card-body">
                <div class="mb-3">
                    <h5 class="card-title">{{nome_ut}} {{cognome_ut}}</h5>
                    <h5 class="card-text">{{email_ut}}</h5>
                    <h5 class="card-text">{{telefono_ut}}</h5>
                </div>
                <div class="mb-3">
                    <h5 class="card-text">{{volo.aeroporto_di_partenza}} --> {{volo.aeroporto_di_arrivo}}</h5>
                    <h5 class="card-text">{{volo.data_di_partenza}} --> {{volo.data_di_arrivo}}</h5>
                    <h5 class="card-text">{{volo.ora_di_partenza}} --> {{volo.ora_di_arrivo}}</h5>
                    <h5 class="card-text">{{posti}} --> {{prezzo_tot}} €</h5>
                </div>
                <form action="{% url 'acquista' %}" method="post">
                    {% csrf_token %}
                    <div class="d-none">
                        <input type="text" value="{{nome_ut}}" class="d-none" name="nome">
                        <input type="text" value="{{cognome_ut}}" class="d-none" name="cognome">
                        <input type="text" value="{{email_ut}}" class="d-none" name="email">
                        <input type="text" value="{{telefono_ut}}" class="d-none" name="telefono">
                        <input type="text" value="{{volo.id}}" class="d-none" name="volo">
                        <input type="text" value="{{posti}}" class="d-none" name="posti">
                        <input type="text" value="{{prezzo_tot}}" class="d-none" name="prezzo_tot">
                        {{prenota_form.codice}}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg w-50">Acquista</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}