{% extends 'App/pagine_utente/prenota/nav_bar.html' %}

{% block contenuto %}

<div class="mt-3 bg-light p-3 w-50 rounded d-flex justify-content-center">
    <table class="table text-dark h6">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nome_ut}}</td>
                <td>{{cognome_ut}}</td>
                <td>{{email_ut}}</td>
                <td>{{telefono_ut}}</td>
        </tbody>
    </table>
</div>




<div class="row">

    <div class="mt-5 text-center text-dark col">
        <div class="card">
            <h2 class="card-header"> Andata </h2>
            <div class="card-body">
                <div class="mb-3">
                    <h5 class="card-text">{{volo_andata.aeroporto_di_partenza}} --> {{volo_andata.aeroporto_di_arrivo}}</h5>
                    <h5 class="card-text">{{volo_andata.data_di_partenza}} --> {{volo_andata.data_di_arrivo}}</h5>
                    <h5 class="card-text">{{volo_andata.ora_di_partenza}} --> {{volo_andata.ora_di_arrivo}}</h5>
                    <h5 class="card-text">{{posti_prenotati_andata}} --> {{prezzo_totale_andata}} €</h5>
                </div>
                <form action="{% url 'acquista' %}" method="post">
                    {% csrf_token %}
                    <div class="d-non">
                        <input type="text" value="{{nome_ut}}" name="nome">
                        <input type="text" value="{{cognome_ut}}" name="cognome">
                        <input type="text" value="{{email_ut}}" name="email">
                        <input type="text" value="{{telefono_ut}}" name="telefono">
                        <input type="text" value="{{volo_andata.id}}" name="volo_andata">
                        <input type="text" value="{{posti_prenotati_andata}}" name="posti_prenotati_andata">
                        <input type="text" value="{{prezzo_totale_andata}}" name="prezzo_totale_andata">
                        {{prenota_form.codice}}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg w-50">Acquista</button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center text-dark col">
        <div class="card">
            <h2 class="card-header"> Ritorno </h2>
            <div class="card-body">
                <div class="mb-3">
                    <h5 class="card-text">{{volo_ritorno.aeroporto_di_arrivo}} --> {{volo_ritorno.aeroporto_di_partenza}}</h5>
                    <h5 class="card-text">{{volo_ritorno.data_di_partenza}} --> {{volo_ritorno.data_di_arrivo}}</h5>
                    <h5 class="card-text">{{volo_ritorno.ora_di_partenza}} --> {{volo_ritorno.ora_di_arrivo}}</h5>
                    <h5 class="card-text">{{posti_prenotati_ritorno}} --> {{prezzo_totale_ritorno}} €</h5>
                </div>
                <form action="{% url 'acquista' %}" method="post">
                    {% csrf_token %}
                    <div class="d-non">
                        <input type="text" value="{{nome_ut}}" name="nome">
                        <input type="text" value="{{cognome_ut}}" name="cognome">
                        <input type="text" value="{{email_ut}}" name="email">
                        <input type="text" value="{{telefono_ut}}" name="telefono">
                        <input type="text" value="{{volo_ritorno.id}}" name="volo_ritorno">
                        <input type="text" value="{{posti_prenotati_ritorno}}" name="posti_prenotati_ritorno">
                        <input type="text" value="{{prezzo_totale_ritorno}}" name="prezzo_totale_ritorno">
                        {{prenota_form.codice}}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg w-50">Acquista</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}