{% extends 'App/base.html' %}

{% block content %}

<div class="container mt-2 w-50">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-4 row">
            <a href="{% url home %}" class="btn btn-primary border col"> Home </a>
            <button type="submit" class="btn btn-primary border col"> Invia </button>
        </div>
        <div class="bg-dark p-3 mt-5 rounded bg-opacity-75">
            {% block contenuto %}
            
            {% endblock %}
        </div>
    </form>
    <h1 class="bg-dark text-center rounded mt-2">{{messaggio}}</h1>
</div>

{% endblock %}