{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}


<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Targa</label>
        {{form.codice}}
    </div>
    <div class="col">
        <label class="form-label">Modello</label>
        {{form.modello}}
    </div>
</div>

<div class="mb-2 row">
    <div class="col">
        <label class="form-label">Stato</label>
        {{form.stato}}
    </div>
    <div class="col">
        <label class="form-label">Km totali</label>
        {{form.km_totali}}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Km dall'ultima manutenzione</label>
        {{form.km_da_ultima_manutenzione}}
    </div>
    <div class="col">
        <label class="form-label">Data dell'ultima manutenzione</label>
        {{form.data_ultima_manutenzione}}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Posti prima classe</label>
        {{form.posti_prima_classe}}
    </div>
    <div class="col">
        <label class="form-label">Posti seconda classe</label>
        {{form.posti_seconda_classe}}
    </div>
    <div class="col">
        <label class="form-label">Posti terza classe</label>
        {{form.posti_terza_classe}}
    </div>
</div>



{% endblock %}