{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}

{% load static %}

<div class="mb-2 row">
    <div class="col">
        <label class="form-label">Codice</label>
        <div class="input-group">
            {{form.codice}}
            <button class="input-group-text btn btn-primary" onclick="Genera()" type="button" id="basic-addon2">Genera</i></button>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Utente</label>
        <div class="input-group">
            {{form.utente}}
            <a href="{% url 'aggiungi_utente' %}" target="_blank" class="input-group-text btn btn-primary"
                type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Volo</label>
        <div class="input-group">
            {{form.volo}}
            <a href="{% url 'aggiungi_voli' %}" target="_blank" class="input-group-text btn btn-primary" type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Posti prenotati</label>
        <div class="d-none">{{form.posti_prenotati}}</div>
        <button class="btn btn-primary" type="button" onclick="Posti()">Scegli posti</button>
    </div>
    <div class="col">
        <label class="form-label">Prezzo totale</label>
        <div class="input-group">
            {{form.prezzo_totale}}
            <span class="input-group-text bg-primary text-light" id="basic-addon2">€</span>
        </div>
    </div>
</div>

<div id="tabella_posti" class="conatiner text-center d-none">
    <table class="table text-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
            </tr>
        </thead>
        <tbody id="posti">
        </tbody>
    </table>
</div>


<script src="{% static 'js/script_posti_singoli.js' %}"></script>

{% endblock %}