{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Codice</label>
        {{form_a.codice}}
    </div>
    <div class="col">
        <label class="form-label">Nome</label>
        {{form_a.nome}}
    </div>
</div>
<div class="mb-2">
    <div id="indirizzo">
        <label class="form-label">Indirizzo</label>
        <div class="input-group">
            {{form_a.indirizzo}}
            <button class="input-group-text btn btn-primary" type="button" id="basic-addon2" onclick="Form_indirizzo_appari()"><i class="bi bi-plus-circle"></i></button>
        </div>
    </div>
    <div id="form-indirizzo" class="d-none">
        <button class="input-group-text btn btn-primary w-100" type="button" id="basic-addon2" onclick='Form_indirizzo_scompari()'><i class="bi bi-dash-circle"></i></button>
        <div class="row mb-3">
            <div class="col">
                <label for="" class="form-label">Via</label>
                {{form_i.via}}
            </div>
            <div class="col">
                <label class="form-label">Numero civico</label>
                {{form_i.numero}}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                <label for="" class="form-label">Città</label>
                {{form_i.citta}}
            </div>
            <div class="col">
                <label class="form-label">Provincia</label>
                {{form_i.provincia}}
            </div>
            <div class="col">
                <label class="form-label">Stato</label>
                {{form_i.stato}}
            </div>
        </div>
        
    </div>
</div>
<div>
    <label class="form-label">Descrizione</label>
    {{form_a.descrizione}}
</div>

<script>

    document.getElementById('id_via').removeAttribute('required', ''); 
    document.getElementById('id_numero').removeAttribute('required', ''); 
    document.getElementById('id_citta').removeAttribute('required', ''); 
    document.getElementById('id_provincia').removeAttribute('required', ''); 
    document.getElementById('id_stato').removeAttribute('required', ''); 
</script>

{% endblock %}