{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}


<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Codice</label>
        <div class="input-group">
            {{form.codice}}
            <button class="input-group-text btn btn-primary" onclick="Genera_codice()" type="button" id="basic-addon2">Genera</i></button>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Aeroporto di partenza</label>
        <div class="input-group">
            {{form.aeroporto_di_partenza}}
            <a href="{% url 'aggiungi_aeroporti' %}" target="_blank" class="input-group-text btn btn-primary"
                type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Aeroporto di arrivo</label>
        <div class="input-group" >
            {{form.aeroporto_di_arrivo}}
            <a href="{% url 'aggiungi_aeroporti' %}" target="_blank" class="input-group-text btn btn-primary"
                type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>

<div class="mb-2 row">
    <div class="col">
        <label class="form-label">Prezzo prima classe</label>
        <div class="input-group">
            {{form.prezzo_unitario_prima_classe}}
            <span class="input-group-text bg-primary text-light" id="basic-addon2">€</span>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Prezzo seconda classe</label>
        <div class="input-group">
            {{form.prezzo_unitario_seconda_classe}}
            <span class="input-group-text bg-primary text-light" id="basic-addon2">€</span>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Prezzo terza classe</label>
        <div class="input-group">
            {{form.prezzo_unitario_terza_classe}}
            <span class="input-group-text bg-primary text-light" id="basic-addon2">€</span>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Ora di partenza</label>
        {{form.ora_di_partenza}}
    </div>
    <div class="col">
        <label class="form-label">Ora di arrivo</label>
        {{form.ora_di_arrivo}}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Data di partenza</label>
        {{form.data_di_partenza}}
    </div>
    <div class="col">
        <label class="form-label">Data di arrivo</label>
        {{form.data_di_arrivo}}
    </div>
</div>

<div class="mb-2 row">
    <div class="col">
        <label class="form-label">Km</label>
        {{form.km}}
    </div>
    <div class="col">
        <label class="form-label">Aereo</label>
        <div class="input-group">
            {{form.aereo}}
            <a href="{% url 'aggiungi_aereo' %}" target="_blank" class="input-group-text btn btn-primary"
                type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>

<div class="d-none">
    {{form.posti_totali}}
</div>




{% endblock %}