{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Via</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="col">
        <label class="form-label">Numero civico</label>
        <input type="number" class="form-control" required>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Città</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="col">
        <label class="form-label">Provincia</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="col">
        <label class="form-label">Stato</label>
        <input type="text" class="form-control" required>
    </div>
</div>


{% endblock %}