{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}


<div class="mb-2 row">
    <div class="col">
        <label class="form-label">Utente</label>
        <div class="input-group">
            {{form.utente}}
            <a href="{% url 'aggiungi_utente' %}" target="_blank" class="input-group-text btn btn-primary"
                type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Volo</label>
        <div class="input-group">
            {{form.volo}}
            <a href="{% url 'aggiungi_voli' %}" target="_blank" class="input-group-text btn btn-primary" type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Codice</label>
        <div class="input-group">
            {{form.codice}}
            <button class="input-group-text btn btn-primary" onclick="Genera()" type="button" id="basic-addon2">Genera</i></button>
        </div>
    </div>
    <div class="col">
        <label class="form-label">Posti prenotati</label>
        {{form.posti_prenotati}}
    </div>
</div>



{% endblock %}