{% extends 'App/pagina_gestione/form/base_form.html' %}
{% block contenuto %}

<div class="row mb-3">
    <div class="col">
        <label for="" class="form-label">Codice</label>
        <input type="text" class="form-control">
    </div>
    <div class="col">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control">
    </div>
</div>
<div class="mb-2">
    <label class="form-label">Indirizzo</label>
    <div class="input-group">
        <select class="form-select">
            {% for i in indirizzi %}
            <option value="{{i.id}}">{{i}}</option>
            {% endfor %}
        </select>
        <a href="{% url 'aggiungi_indirizzo_a' %}" target="_blank" class="input-group-text btn btn-primary" type="button" id="basic-addon2"><i class="bi bi-plus-circle"></i></a>
    </div>
</div>
<div>
    <label class="form-label">Descrizione</label>
    <textarea class="form-control" rows="5"></textarea>
</div>


{% endblock %}